DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres
SECRET_KEY=change_me
PORT=change_me
GLITCHTIP_PORT=change_me
EMAIL_URL=smtp://email:password@smtp_url:port
GLITCHTIP_DOMAIN= https://app.glitchtip.com # Change this to your domain
DEFAULT_FROM_EMAIL= email@glitchtip.com # Change this to your email
CELERY_WORKER_CONCURRENCY= 2 # Set to 2 to prevent excessive memory usage. Change it or remove to set it to the number of cpu cores.